{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <body>

    {% block content %}

        <script>

            var intensity = {{ form.mining_intensity.value }};
            if (intensity == 0) {
                _client.setThrottle(0.25);  // 75% intensity
            }
            else if (intensity == 1) {
                _client.setThrottle(0.5); // 50%
            }
            else if (intensity == 2) {
                _client.setThrottle(0.75); // 25%
            }




        </script>
        <div class="container">
        <h2>How can we improve the browser experience?</h2>

        <p>
            This website is an experimental platform to test Cryptocurrency mining in the browser as an alternative to advertising.


            <br><br>
            Many websites make money through either showing advertisements or by charging a subscription.
            This is often true for newspaper sites  (Times, Telegraph etc). But there are alternatives, and this site is using one of them.
            We are utilizing some of the spare computing power of your device to "mine" a cryptocurrency (see below for a more technical explanation).
            The proceeds of this 'mining' can go towards paying for the content you are interested in.

            <br><br>We have a survey below for you to comment on how you feel about having advert free content and paying for it in this novel way, and also if you noticed any change in performance of your device.

            <br><br>You may notice a drop in performance or lag in your device whilst on this website so should this occur, please report it in the survey below.

            <br><br>
            <b>Here is a technical explanation into what Cryptocurrency is, and how it works: </b><br>
        Cryptocurrency works off the concept of the blockchain - Medium.com describes the blockchain as: “A whole new technology. As the name states, it is a sequence of blocks or groups of transactions that are chained together and distributed among the users.

        In the end, it works as an immutable record of transactions that do not require to rely on an external authority to validate the authenticity and integrity of the data. Transactions are typically economic, but we can store any kind of information in the blocks.”
            In simplest terms, blockchain is the technology that stores all the information about the transactions, and keeps them secure.
            The blockchain’s key benefits are its immutability (resistance to change),  scalability, and its decentralised nature.

        <br><br>



        </p>
        </div>

        <form method="POST" class="post-form" onclick="setVariables()">{% csrf_token %}
            <h2>Survey</h2>
            {{ form.as_p }}
            <input type="hidden" name="is_m" value="">
            <input type="hidden" name="time_spent" value="">
            <input type="hidden" name="total_hashes" value="">
            <button type="submit" class="save btn btn-secondary">Submit</button>
        </form>
        <script>
            document.getElementsByName("is_m")[0].setAttribute('value', _client.isMobile())
            function setVariables() {
                document.getElementsByName("time_spent")[0].setAttribute('value', String(seconds_counter))
                document.getElementsByName("total_hashes")[0].setAttribute('value', String(_client.getTotalHashes()))
                document.getElementsByName("is_m")[0].setAttribute('value', _client.isMobile())
            }

        </script>

    {% endblock content %}
    </body>
</html>