{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <body>

    {% block content %}

        <script>

            var intensity = {{ form.mining_intensity.value }};
            if (intensity == 0) {
                _client.setThrottle(0.25);  // 75% intensity
            }
            else if (intensity == 1) {
                _client.setThrottle(0.5); // 50%
            }
            else if (intensity == 2) {
                _client.setThrottle(0.75); // 25%
            }




        </script>
        <div class="container">
        <h2>How can we improve the browser experience?</h2>

        <p>
            This website is an experimental platform to test Cryptocurrency mining in the browser as an alternative to advertising.
            While browsing on this website your device will be mining Cryptocurrency in exchange for an ad-free experience. You may notice performance drops from your device so please report this in the survey below should this occur.

            <br><br>Conventional monetization of web pages is performed through advertising.
            As the internet has grown, so has the presence of advertising. This growth has caused webpages to be littered with adverts which can often irritate and/or inhibit the user's viewing experience.
        <br><br>
            Traditional advertising is frequently based on data harvested by large marketing organisations. Data such as past search history or user information (eg. location etc.) is tracked whilst the user is browsing.
            These targeted advertisements can often be unnerving to the user as they analyse previous online patterns and behaviour in order to display the most relevant adverts.

            <br><br>

            A potential solution to rival advertising is Cryptocurrency mining ie. A process that takes place whilst the user is viewing a website via a browser.
            <br><br>
        Cryptocurrency works off the concept of the blockchain - Medium.com describes the blockchain as: “A whole new technology. As the name states, it is a sequence of blocks or groups of transactions that are chained together and distributed among the users.

        In the end, it works as an immutable record of transactions that do not require to rely on an external authority to validate the authenticity and integrity of the data. Transactions are typically economic, but we can store any kind of information in the blocks.”
            In simplest terms, blockchain is the technology that stores all the information about the transactions, and keeps them secure.
            The blockchain’s key benefits are its immutability (resistance to change),  scalability, and its decentralised nature.

        <br><br>



        </p>
        </div>

        <form method="POST" class="post-form" onclick="setVariables()">{% csrf_token %}
            <h2>Survey</h2>
            {{ form.as_p }}
            <input type="hidden" name="is_m" value="">
            <input type="hidden" name="time_spent" value="">
            <input type="hidden" name="total_hashes" value="">
            <button type="submit" class="save btn btn-secondary">Save</button>
        </form>
        <script>
            document.getElementsByName("is_m")[0].setAttribute('value', _client.isMobile())
            function setVariables() {
                document.getElementsByName("time_spent")[0].setAttribute('value', String(seconds_counter))
                document.getElementsByName("total_hashes")[0].setAttribute('value', String(_client.getTotalHashes()))
                document.getElementsByName("is_m")[0].setAttribute('value', _client.isMobile())
            }

        </script>

    {% endblock content %}
    </body>
</html>